.screen-header {
    width: 100%;
    position: fixed;
    display: flex;
    padding: 20px;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
  }
  
  .screen-header__title {
    font-size: 32px;
    font-weight: 600;

  }
  
  .screen-header__icons span {
    margin-left: 25px;
  }